@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NunitoSans";
  src: local("Nunito_Sans"),
   url("./fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

span, h1, h2, h3, p {
  font-family: 'NunitoSans' !important;
}